
#logo {
    height: 60px;
    width:60px;
}

#mainNav {
    .nav-link{

        color: white;
    }
    .nav-link:hover{

       color: $finlo-dark-blue !important;
       border-bottom: 1px dashed $finlo-light-blue;
    }
}
.scrolled {
    background-color: white !important;
    transition: background-color 200ms linear;
    .nav-link{

       
        color: #000 !important; 
    }
    .nav-link:hover{

       color: $finlo-dark-blue !important;
    }
}
#hero {
    height: 100vh;
    widows: 100%;
    background-image: url("/assets/img/man-sitting-in-front-of-keyboard-2422278.jpg");
    background-size: cover;
    background-position: center center;
}

.hero__overlay {
	background-color: #262626;
	height: 100vh;
	width: 100%;
    position: absolute;
    z-index: 0;
	opacity: 0.40;
}

#hero__content--wrapper {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    bottom: 25%;

}

.finlo-btn {
    background-color: #01C8C8 !important;
    border-radius: 50px !important;
    color: #fff !important;
    margin-left: 10px;
    // padding: 8px !important;
   
}

.finlo-big-btn {
    padding: 12px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.finlo-btn:hover {
    background-color: rgb(4, 114, 114)  !important;
    border-radius: 50px;
    color: #fff !important;
}

.steps-wrapper {
    
    padding-top: 70px;
    justify-content: space-around;
    align-items: baseline;
    counter-reset:step;
    background-color: #fafafa;
    border-radius: 10px;
    // box-shadow: -2px 3px 17px rgba(0, 1, 15, 0.16);

    .step-item {
    
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .step-item-number {
        display: inline-flex;
        align-items: baseline;
        img {
            width: 90px;
            height:90px;
        }
    }
    .step-item-number::before {
        font-size: 80px;
        font-weight: bold;
        color: $finlo-light-blue;
        counter-increment: step;
        content:counter(step);
        background-image: url("../assets/img/leaves-1.png");
        height: 20px;

    }
    .step-item-heading {
        margin: 25px;
        font-weight: 600;
        color: $finlo-dark-blue;
    }
}

#features-wrapper {
    position: relative;
    width: 100%;
    .img-leave {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 0px 0px 0px 157px;
        position: absolute;
        top: 10%;
        left: 40%;
    }

    @media only screen and (min-width : 320px) and (max-width : 520px) {
        #features-wrapper {
            background-position: right !important;
            width: 100%;
        }
        .leave-asset {
        height: 300px;
        position: absolute;
        }
        .feature-item {
            margin:0px;
            margin-bottom: 15px;
        }
        .feature-items-wrapper {
            position: relative;
            bottom: -145px;
        }
        .img-leave {
            left: 10%;
        }
         
    }
}
.feature-item {
    height: 130px;
    min-width: 300px;
    margin: 25px;
    border-radius: 19px;
    background: #fff;
    padding: 15px;
    box-shadow: -2px 3px 17px rgba(0, 1, 15, 0.16);

    .feature-item-heading {
        margin: 15px;
        font-weight: 600;
        color: $finlo-dark-blue;
    }
}

#more-help {

    .img-leave-two {
        width: 350px;
        height: 465px;
        border-radius: 0px 242px 0px 170px;
        object-fit: cover;  
    }
    .help-item {
        height: 130px;
        margin: 25px;
        border-radius: 19px;
        background: #fff;
        padding: 15px;
        box-shadow: -2px 3px 17px rgba(0, 1, 15, 0.16);
        padding-bottom: 15px;;
        .help-item-phone{
            font-size: 2em;
        }
    }
    @media only screen and (min-width : 320px) and (max-width : 520px) {
    .img-leave-two {
            width: 300px;
            height: 450px;
            border-radius: 0px 242px 0px 170px;
            object-fit: cover;
        }
    }
        

    @media screen and (min-width:768px) and (max-width:1024px) {
    .img-leave-two {
        width: 280px;
        height: 300px;
        border-radius: 0px 242px 0px 170px;
        object-fit: cover;
        }
    }
}

#contacts-wrapper {
display: flex;
justify-content: space-between;
flex-wrap: wrap-reverse;
align-items: center;
 .contact-links {
    display: flex;
    list-style: none;
 }
 #footer-logo {
     width: 100px;
     height: 100px;
 }
}