body {
    font-family: "Roboto","Helvetica Neue";
}

section {
    padding: 50px;
    margin-top: 20px;
}

#How-it-Works {
    position: relative;
 
    
    // border-top-left-radius: 140px;
    // border-bottom-right-radius: 120px;
    border-color: yellowgreen; 
}

.section-heading {
    color: $finlo-light-blue;
    font-size: 2.5em;
    font-weight: 400;
}

#why-Finlo {
    height: 70vh;
    background-color: #efefef;
    

    @media screen and (min-width:768px) and (max-width:1024px) {
        height: 100vh;
    border: 0px solid #efefef66;
    }
     @media only screen and (min-width : 320px) and (max-width : 520px) {
        border: 0px solid #efefef66;
    }
}
#more-help {
    @media only screen and (min-width : 320px) and (max-width : 520px) {
        border: 0px solid #efefef66;
        position: relative;
    }
}

#features-wrapper {
    
}